{% extends 'base.html.twig' %}

{% block title %}
    Votre météo !
{% endblock %}

{% block body %}

    <h1>Bienvenue sur la page Météo</h1>

    {{ form_start(form) }}
    <div>
        {{ form_label(form.city_name) }}
        {{ form_errors(form.city_name) }}
        {{ form_widget(form.city_name) }}
    </div>
    {{ form_end(form) }}

{% endblock %}
