{% extends 'base.html.twig' %}

{% block title %}
    Votre météo !
{% endblock %}

{% block body %}

    <h1>Bienvenue sur la page Météo</h1>

    {{ data.lon }}
    {{ data.lat }}
    {{ data.wid }}
    {{ data.condition }}
    {{ data.description }}
    {{ data.icon_css }}
    {{ data.icon_img }}
    {{ data.base }}
    {{ data.temperature }}
    {{ data.pressure }}
    {{ data.humidity }}
    {{ data.min }}
    {{ data.max }}
    {{ data.wind_speed }}
    {{ data.wind_deg }}
    {{ data.country_code }}
    {{ data.sunrise }}
    {{ data.sunset }}
    {{ data.country_id }}
    {{ data.country_name }}
    {{ data.code }}
    {{ data.date }}
    {{ data.day }}

{% endblock %}
